<%= form_for [:admin, @page] do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <p>Slug: <%= f.text_field :slug %></p>
  <p>Author: <%= f.text_field :author %></p>
  <p>Status: <%= f.text_field :status %></p>
  <p>Publish At: <%= f.text_field :publish_at %></p>
  <p>Content: <%= f.text_area :body %></p>
  <%= f.submit %>
<% end %>