<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <title>Blogtastic</title>
  </head>
  <body>
    <div id="container">
      <h1>Blogtastic</h1>
      
      <ol class="navigation">
        <!-- todo - make dynamic? -->
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "About", "#" %></li>
      </ol>
      
      <div id="main-content-wrapper">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
